@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'Orbitron';
}

#header {
    text-align: center;
    color: white;
    background-image: linear-gradient(90deg, cornflowerblue 0%, black 100%);
}

/* #area-search {
    width:80%;
} */